<nav>
  <ul class="nav-items">
    <div class="logo">
      Logo
    </div>
    <div>
      <li><a href="/">Home</a></li>
      <li><a href="/add-books">Add product</a></li>
      <li><a href="/delete-books">Delete product</a></li>
      <li><a href="/edit-books">Edit Product</a></li>
      <li><a href="#">Contact</a></li>
    </div>
  </ul>
</nav>
